div.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  background-color: #f7f7f7;
}

.menu-block {
  margin-top: 4px;
  height: 28px;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 12px;
  margin-top: 16px;
}

.sider-menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 240px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 20px;
}

.menu-text{
  font-weight: bolder;
}

.menu-icon{
  font-weight: bolder;
}

.chat-container {
  background-color: #ffffff;
  width: 100%;
  border-radius: 18px;
  padding: 18px;
}

.menu-block:hover {
  background-color: #ffffff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  /* 添加阴影效果 */
  transition: all 0.3s ease;
  /* 添加过渡效果 */
  cursor: pointer;
}

.text-primary {
  color: var(--gpts-primary-color, #8a57ea);
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.transition-colors {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  transition-duration: .15s;
}